
[
    {rabbit, [
    {% if elao_rabbitmq_tcp_listeners is defined %}
    {tcp_listeners, [
        {%- for listener in elao_rabbitmq_tcp_listeners -%}
            {"{{ listener.address }}", {{ listener.port }}}{% if loop.last is sameas false -%},{% endif %}
        {%- endfor -%}
        ]},
    {% endif %}
    {% if elao_rabbitmq_ssl_listeners is defined -%}
        {ssl_listeners, [
        {%- for ssl_listener in elao_rabbitmq_ssl_listeners -%}
            {"{{ ssl_listener.address }}", {{ ssl_listener.port }}}{% if loop.last is sameas false -%},{% endif %}
        {%- endfor -%}
        ]},
    {% else %}
    {ssl_listeners, [5671]},
    {% endif %}

    {handshake_timeout, {{ elao_rabbitmq_handshake_timeout|default(10000) }}},
    {ssl_handshake_timeout, {{ elao_rabbitmq_ssl_handshake_timeout|default(5000) }}},
    {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
                   {certfile,"/etc/rabbitmq/ssl/cert.pem"},
                   {keyfile,"/etc/rabbitmq/ssl/key.pem"},
                   {verify,verify_peer},
                   {fail_if_no_peer_cert,true}]}
  ]}
].%  
